# Site settings
title: Felix Yang's Blog
email: felixpy.1993@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  This site is created by jekyll and github pages
baseurl: "" # the subpath of your site, e.g. /blog/
url: "https://felixpy.github.io" # the base hostname & protocol for your site
github_username: felixpy

permalink: /:year/:month/:day/:title:output_ext

# Build settings
markdown: kramdown

plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-algolia
  - jekyll-paginate
  - jekyll-archives
  - jemoji

# Paginate V1
paginate: 256
paginate_path: "/page/:num/"

# Paginate V2
pagination:
  enabled: true
  debug: false
  per_page: 7
  permalink: "/page/:num/"
  sort_reverse: true
  trail: 
    before: 2
    after: 2

jekyll-archives:
  enabled:
    - month
    - categories
    - tags
  layouts:
    month: archive-month
    category: archive-taxonomy
    tag: archive-taxonomy
  permalinks:
    month: /:year/:month/
    category: /category/:name/
    tag: /tag/:name/

algolia:
  application_id: AQN226ZOWS
  index_name: jekyll_blog
