# Site settings
title: Felix Yang's Blog
email: felixpy.1993@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  This site is created by jekyll and github pages.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://felixpy.github.io" # the base hostname & protocol for your site
github_username: felixpy

permalink: /:year/:month/:day/:title:output_ext

# Build settings
markdown: kramdown
