<footer class="footer" data-pagefind-ignore>
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <p class="footer-link-title"><span>Repositories</span></p>
        <p class="footer-link-item">
          <a target="_blank" href="https://github.com/codetrial/element-form-builder">Element Form Builder</a>
        </p>
        <p class="footer-link-item">
          <a target="_blank" href="https://github.com/felixpy/formotor">Formotor.js</a>
        </p>
      </div>
      <div class="column is-3">
        <p class="footer-link-title"><span>Links</span></p>
        <p class="footer-link-item">
          <a target="_blank" href="https://felixpy.com">Felix Yang</a>
        </p>
        <hr>
        <p class="footer-link-item">
          <a target="_blank" href="https://facebook.com/felixpy.1993">Facebook</a>
        </p>
        <p class="footer-link-item">
          <a target="_blank" href="https://twitter.com/gofelixpy">Twitter</a>
        </p>
        <p class="footer-link-item">
          <a target="_blank" href="https://500px.com/gofelixpy">500px</a>
        </p>
      </div>
      <div class="column is-6">
        <div class="content has-text-right">
          <p>Copyright © {{ site.time | date: '%Y' }} Felix Yang</p>
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script charset="utf-8" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script charset="utf-8" src="{{ "/pagefind/pagefind-ui.js" | prepend: site.baseurl }}"></script>
<script charset="utf-8" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
