<header>
  <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl }}/">
          <span class="icon">
            <i class="fas fa-tree"></i>
          </span>
          <span>{{ site.title }}</span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
          {% for page in site.pages %}
            {% if page.title %}
            <a class="navbar-item" href="{{ page.url | prepend: site.baseurl }}">
              <span class="icon">
                <i class="fa fa-book"></i>
              </span>
              <span>{{ page.title }}</span>
            </a>
            {% endif %}
          {% endfor %}
          {% if site.github_username %}
          <a class="navbar-item" href="https://github.com/{{ site.github_username }}">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
          {% endif %}
          <a class="navbar-item" href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <span class="icon">
              <i class="fas fa-rss"></i>
            </span>
            <span>RSS</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
