{% if paginator.total_pages > 1 %}
<nav class="pagination is-right" role="navigation" aria-label="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-previous" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
  {% else %}
    <a class="pagination-previous" disabled>Previous</a>
  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}">Next page</a>
  {% else %}
    <a class="pagination-next" disabled>Next page</a>
  {% endif %}

  <ul class="pagination-list">
  {% for trail in paginator.page_trail %}
    {% if forloop.first %}
      {% if trail.num != 1 %}
        <li>
          <a class="pagination-link" href="{{ site.baseurl }}/">1</a>
        </li>
        {% if trail.num > 2 %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
      {% endif %}
    {% endif %}

    <li>
      <a class="pagination-link{% if trail.path == page.url %} is-current{% endif %}" href="{{ trail.path | replace: 'index.html', '' }}">
        {{ trail.num }}
      </a>
    </li>

    {% if forloop.last %}
      {% if trail.num != paginator.total_pages %}
        {% if trail.num < paginator.total_pages - 1 %}
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
        <li>
          <a class="pagination-link" href="{{ site.pagination.permalink | relative_url | replace: ':num', paginator.total_pages }}">
            {{ paginator.total_pages }}
          </a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</nav>
{% endif %}