<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
  <hr>
  <nav class="pagination is-right" role="navigation" aria-label="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-previous" href="{{ paginator.previous_page_path | relative_url }}">{{ paginator.page | minus: 1 }}　<i class="fas fa-caret-left"></i>　Previous</a>
    {% else %}
      <a class="pagination-previous" disabled>Previous</a>
    {% endif %}
    {% if paginator.next_page %}
      <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}">Next Page　<i class="fas fa-caret-right"></i>　{{ paginator.page | plus: 1 }}</a>
    {% else %}
      <a class="pagination-next" disabled>Next</a>
    {% endif %}
    <ul class="pagination-list">
      <!-- <li><a class="pagination-link is-current" aria-label="Page {{ paginator.page }}" aria-current="page">Page: {{ paginator.page }}</a></li> -->
    </ul>
  </nav>
{% endif %}