.posts {
    ul.post-list {
        li {
            & + li {
                margin-top: 1rem;
            }

            .post-meta {
                font-size: 0.8rem;
                color: #828282;
            }
        }
    }
}

.post {
    .post-header {
        margin-bottom: 1rem;
    }

    .post-meta {
        color: #828282;
    }
}