.main {
    padding: 2rem 1.5rem;
}

@media screen and (min-width: 1088px) {
    .content-wrapper {
        padding: 0;
    }
}

.footer {
    border-top: 1px solid #f5f5f5;
    background-color: #fff;

    .footer-link-title {
        font-size: 1.25rem;
        font-weight: 600;

        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }

    .footer-link-item {
        margin-top: 0.5rem;
    }
}
